---
import { t } from "i18n:astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout>
  <div class="flex justify-center pt-20">
    <h1 class="text-6xl font-bold">{t("homeText")}</h1>
  </div>
</Layout>
