---
import { getLocale, getSwitcherData } from "i18n:astro";

const locale = getLocale();
const data = getSwitcherData();
---

<select
  class="rounded-md border border-gray-300 bg-transparent p-1 uppercase"
  onchange="location = this.value;"
>
  {
    data.map((e) => (
      <option value={e.href} selected={e.locale === locale}>
        {e.locale}
      </option>
    ))
  }
</select>
